{% extends 'chess_layout.html' %}
{% block title %}Chess games listing{% endblock %}

{% block chess_content %}
<h1>Games list</h1>
<a href="{% url chess.views.create_game %}">Create game</a>

<ul>
  {% for game in games %}
    <li>
      <a href="{% url chess.views.show_game key=game.key %}">{{ game.white_player }} {{ game.black_player }} {{ game.moves }}</a>
      <a href="{% url chess.views.edit_game key=game.key %}">Edit</a>
      <a href="{% url chess.views.delete_game key=game.key %}">Delete</a>
    </li>
  {% endfor %}
</ul>

<div>
  {% if has_previous %}
    <a href="{% url myapp.views.list_people %}?page={{ previous }}">&lt;-previous</a>
  {% endif %}
  {% if has_next %}
    <a href="{% url myapp.views.list_people %}?page={{ next }}">next-&gt;</a>
  {% endif %}
</div>

<h1>PGN files list</h1>

<a href="{% url chess.views.upload_pgn %}">Upload PGN</a>
<ul>
  {% for pgn in pgn_files %}
    <li>
    <a href="{% url chess.views.show_pgn_file key=pgn.key %}">{{ pgn.filename }}</a>:
    <a href="{% url chess.views.delete_pgn_file key=pgn.key %}">Delete</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
