{% extends 'chess_layout.html' %}
{% block title %}Game details{% endblock %}

{% block chess_content %}
<h1>Game details</h1>

<ul>
  <li>White player: {{ object.white_player }}</li>
  <li>Black player: {{ object.black_player }}</li>
</ul>
Moves (<a href="{% url chess.views.update_moves key=object.key%}">update</a>):<br/>
{{ object.moves }}
<p/>
{% comment %}
<a href="{% url chess.views.edit_game key=object.key %}">Edit</a> |
{% endcomment %}
<a href="{% url chess.views.delete_game key=object.key %}">Delete</a>
{% endblock %}
