{% extends 'layout.html' %}
{% block title %}Person listing{% endblock %}

{% block content %}
<h1>Games list</h1>
<a href="{% url chess.views.create_game %}">Create game</a>

<ul>
  {% for person in object_list %}
    <li>
      <a href="{% url myapp.views.show_person key=person.key %}">{{ person.first_name }} {{ person.last_name }}</a>
      <a href="{% url myapp.views.edit_person key=person.key %}">Edit</a>
      <a href="{% url myapp.views.delete_person key=person.key %}">Delete</a>
    </li>
  {% endfor %}
</ul>

<div>
  {% if has_previous %}
    <a href="{% url myapp.views.list_people %}?page={{ previous }}">&lt;-previous</a>
  {% endif %}
  {% if has_next %}
    <a href="{% url myapp.views.list_people %}?page={{ next }}">next-&gt;</a>
  {% endif %}
</div>
{% endblock %}
