{% extends 'chess_layout.html' %}
{% block title %}Game details{% endblock %}

{% block chess_content %}
<h1>PGN file detail</h1>
<p>
<a href="{% url chess.views.delete_pgn_file key=pgnfile.key %}">Delete</a>
</p>

Filename: {{ pgnfile.filename }}<br/>
White: <strong>{{ white }}</strong><br/>
Black: <strong>{{ black }}</strong><br/>
Result: <strong>{{ result }}</strong><br/>
Board:
<p>
<pre>
{{ board }}
</pre>
(notation: "N" is a white Knight, "#N#" is a black Knight)</p>
Moves:<br/>
<pre>
{{ moves }}
</pre>

<br/>
<br/>
<br/>
For debugging purposes, here is the original content of the pgn file, that is
stored in the database:<br/>
<pre>{{ pgnfile.filecontent }}</pre>
{% endblock %}
